<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
   <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome !!</h1>
   <form action="" method="post">
   <div style="padding-bottom:10px;">
   <label>FirstName :</label>
   <input type="text" th:field="${person.firstName}"/>
   </div>
   <div style="padding-bottom:10px;">
   <label>LastName :</label>
   <input type="text" th:field="${person.lastName}" />
   </div>
   <div>
   <button>Submit</button>
   </div>
   </form>
    
</body>
</html>